.categoryMain {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url("../../assets/drag2.svg"), move;
  z-index: 1;
  width: fit-content;
  margin: 0 auto;
  margin-top: 70px;
}
