.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 15px;

    .categoryList {
      display: flex;
      align-items: flex-start;
    }
  }
}
