.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .categoryList {
    display: flex;
    align-items: flex-start;
  }
}
